html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus{
  outline: 2px solid transparent;
}

body {
  overflow-anchor: none;
  margin: 0;
  font-family: 'Barlow', sans-serif;
  color: $main-text-color;
  background-color: $background;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

/*Меняем цвет плейсхолдера в инпуте Сафари и Хром*/
/*Меняем цвет плейсхолдера в инпуте для Мозилы */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $gray;
}

input:focus,
textarea:focus {
  outline:none;
}

footer {
  background: $footer-background;
}

.is--hidden {
  display: none !important;
}

.btn--reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn:active,
.btn:focus {
  outline: none;
}

.error {
  border: 2px var(--error-red) solid !important;
}

.container {
  max-width: 1810px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  @media (max-width: 1200px) {
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (max-width: 576px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}