$white: #fff;
$light-gray: #efefef;
$soft-gray: #ececec;
$gray: #cacaca;
$table-background: #6d6d6d;
$error-red: #ff0000;
$error-red-prehover: #ff7a7a;
$orange-btn: #ff9900;
$green-confirm: #009e1a;
$link-color: #0d6efd;
$link-color--hover: #003f9c;
$dark-gray: #222222;
$dark-input: #414141;
$dark: #212529;
$black: #000;


$background: #F8F8F8;
$footer-background: #1B1C21;
$main-text-color: #1B1C21;
$menu-text-color: #7E7E82 ;
$border-color: #B8FFEC;
$background-table-color: #616161; /* Цвет таблицы */
$border-color: #b2dfdb; /* Цвет граней */
$th-color: #fbc02d; /* Цвет элементов заголовка */