@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";


.header {
  text-align: center;
  & img {
    width: 30%;
  }
}

.welcome-title {
  margin-top: 50px;
  font-size: 6em;
}